<h1>Enter the English word you'd like translated:</h1>

<form action="/english?" method="post">
  <input type="text" name="word" id="word" />
  <input type="submit" value="Find Translations" />
</form>
