<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
    <link rel="stylesheet" href="public/stylesheets/app.css" />
  </head>
  <body>
    <div class="top-bar">
      <div class="container">
        <a class="logo" href="/">Latin Lover</a>
      </div>
    </div>
    <%= yield %>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
